<script src="/javascripts/keycloak.js"></script>
{% if request.request_uri contains "state=" %}
<script type="text/javascript">
  var stateValue = getCookie('state');
  {% assign url = request.request_uri %}
  {% assign modified_params = url | replace: 'session_state', 'session_id'%}
  
  {% assign returnedState = modified_params | split: '?state=' | last | split: '&' | first | split: 'state=' | last %}
  if(stateValue == '{{returnedState}}') {
     alert("Success! Authorized");
  }else{
   alert("Error! Invalid state");
   }
  
</script>
{% assign url = request.request_uri %}
<h1>{{url}}</h1>
{% assign param = url | split: 'client_id=' | last %}
<a class="btn btn-primary" id="oidc" href="javascript:void(0);" >Get Token</a>
<select id="keySelect" onchange="addKey('token')">
          <option>Choose your application</option>
  		{% for application in current_account.applications %}
          <option value="{{application.keys.first}}|{{application.application_id}}">{{application.name}} | {{application.service.name}}</option>
   		{% endfor %}
</select>
{% else %}
<a class="btn btn-primary" id="oidc" href="">Authorize</a>
<select id="keySelect" onchange="addKey('auth')">
          <option>Choose your application</option>
  		{% for application in current_account.applications %}
          <option value="{{application.keys.first}}|{{application.application_id}}">{{application.name}} | {{application.service.name}}</option>
   		{% endfor %}
</select>
{% endif %}

{% cdn_asset /swagger-ui/2.2.10/swagger-ui.js %}
{% cdn_asset /swagger-ui/2.2.10/swagger-ui.css %}

{% include 'personal/swagger-ui', spec_system_name: "spec_system_name" %}


<script type="text/javascript">
  $(function () {
    {% comment %}
      // Customize the swaggerUi options in the partial: shared/swagger_ui
      // you have access to these options to customize its behaviour
      // such as setting a different docExpansion mode
      docExpansion: 'list'
      // or even getting the swagger specification loaded from a different url
      url: "http://petstore.swagger.wordnik.com/api/api-docs"
      // different ActiveDocs specs can be called by setting the variable spec_system_name in the include liquid tag
    {% endcomment %}
    window.swaggerUi.load();
    });
</script>
{% for auth_provider in site.authentication_providers %}
	{% case auth_provider.kind %}
	{% when 'keycloak' %}
	{% assign auth_url = {{auth_provider.authorize_url}} | split: '?' | first %}
	{% endcase %}
{% endfor %}